
.Members {
    font-weight: bold;
}

.Members a{
    color: white;
    text-decoration:  none;
    
}

.Members a:hover {
    color: rgb(255, 0, 0);
    transition: color 0.2s linear;
    text-decoration:  none;
}

.Members a.active_member {
    color: rgb(255, 0, 0);
}